USE [master]
GO
/****** Object:  Database [HotelDW]    Script Date: 2/20/2026 7:05:22 PM ******/
CREATE DATABASE [HotelDW]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'HotelDW', FILENAME = N'/var/opt/mssql/data/HotelDW.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'HotelDW_log', FILENAME = N'/var/opt/mssql/data/HotelDW_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HotelDW].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [HotelDW]
GO
/****** Object:  Table [dbo].[dim_customer]    Script Date: 2/20/2026 7:05:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dim_customer](
	[customer_key] [int] IDENTITY(1,1) NOT NULL,
	[customer_id] [int] NOT NULL,
	[first_name] [nvarchar](96) NOT NULL,
	[last_name] [nvarchar](96) NOT NULL,
	[email] [nvarchar](192) NOT NULL,
	[city] [nvarchar](96) NOT NULL,
	[state] [varchar](2) NOT NULL,
	[zip] [varchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[customer_key] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dim_date]    Script Date: 2/20/2026 7:05:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dim_date](
	[date_key] [int] NOT NULL,
	[full_date] [date] NOT NULL,
	[day_of_week] [varchar](10) NOT NULL,
	[day_of_month] [int] NOT NULL,
	[month_num] [int] NOT NULL,
	[month_name] [varchar](10) NOT NULL,
	[quarter] [int] NOT NULL,
	[year] [int] NOT NULL,
	[is_weekend] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[date_key] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dim_product]    Script Date: 2/20/2026 7:05:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dim_product](
	[product_key] [int] IDENTITY(1,1) NOT NULL,
	[description] [nvarchar](192) NOT NULL,
	[category] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[product_key] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dim_property]    Script Date: 2/20/2026 7:05:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dim_property](
	[property_key] [int] IDENTITY(1,1) NOT NULL,
	[property_id] [int] NOT NULL,
	[name] [nvarchar](192) NOT NULL,
	[street_address] [nvarchar](192) NOT NULL,
	[city] [nvarchar](96) NOT NULL,
	[state] [varchar](2) NOT NULL,
	[zip] [varchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[property_key] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[fact_checkin]    Script Date: 2/20/2026 7:05:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[fact_checkin](
	[checkin_key] [int] IDENTITY(1,1) NOT NULL,
	[date_key] [int] NOT NULL,
	[property_key] [int] NOT NULL,
	[customer_key] [int] NOT NULL,
	[event_id] [int] NOT NULL,
	[event_code] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[checkin_key] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[fact_revenue]    Script Date: 2/20/2026 7:05:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[fact_revenue](
	[revenue_key] [int] IDENTITY(1,1) NOT NULL,
	[date_key] [int] NOT NULL,
	[property_key] [int] NOT NULL,
	[customer_key] [int] NOT NULL,
	[product_key] [int] NOT NULL,
	[transaction_id] [int] NOT NULL,
	[amount_per] [decimal](10, 2) NOT NULL,
	[quantity] [int] NOT NULL,
	[line_total]  AS ([amount_per]*[quantity]) PERSISTED,
	[payment_method] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[revenue_key] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[fact_checkin]  WITH CHECK ADD FOREIGN KEY([customer_key])
REFERENCES [dbo].[dim_customer] ([customer_key])
GO
ALTER TABLE [dbo].[fact_checkin]  WITH CHECK ADD FOREIGN KEY([date_key])
REFERENCES [dbo].[dim_date] ([date_key])
GO
ALTER TABLE [dbo].[fact_checkin]  WITH CHECK ADD FOREIGN KEY([property_key])
REFERENCES [dbo].[dim_property] ([property_key])
GO
ALTER TABLE [dbo].[fact_revenue]  WITH CHECK ADD FOREIGN KEY([customer_key])
REFERENCES [dbo].[dim_customer] ([customer_key])
GO
ALTER TABLE [dbo].[fact_revenue]  WITH CHECK ADD FOREIGN KEY([date_key])
REFERENCES [dbo].[dim_date] ([date_key])
GO
ALTER TABLE [dbo].[fact_revenue]  WITH CHECK ADD FOREIGN KEY([product_key])
REFERENCES [dbo].[dim_product] ([product_key])
GO
ALTER TABLE [dbo].[fact_revenue]  WITH CHECK ADD FOREIGN KEY([property_key])
REFERENCES [dbo].[dim_property] ([property_key])
GO
USE [master]
GO
